<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="post">
        Nome de usuário: <input type="text" name="username">
        Senha: <input type="password" name="senha">
        <input type="submit">
        
    </form>




    <ul>
        {% for musica in playlist %}
            <li>{{ musica.nome }} - {{ musica.autor }} - {{ musica.ano }}</li>
        {% endfor %}
    </ul>
</body>
</html>